@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
img{
    max-width: 100%;
}
:root{
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    --round-corners: 10px;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: var(--light-gray);
    color: var(--grayish-blue);
    font-size: 15px;
}
.container{
    max-width: 375px;
}
.card{
    /* width: 16em; */
    background-color: white;
    padding: 1em 1em 2em 1em;
    border-radius: var(--round-corners);
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: .8em;
    margin: 0 1rem;
}
.card h1{
    text-wrap: balance;
    line-height: 1.5rem;
    color: var(--dark-blue);
}
.card  h2{
    font-weight: 400;
    font-size: 1rem;
}
.card img{
    width: 100%;
    border-radius: var(--round-corners);
}
